.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    width: 100%;
    max-width: 280px;
    padding: 18px 16px;
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

    @media (max-width: 766px) {
        margin: 20px 0;
    }
}

.form {
    width: 100%;
    max-width: 245px;
}

.input {
    margin-bottom: 16px;
}

.button {
    margin-top: 4px;
}
